<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dirCB3443F7FE911A6A3DAF66C61FC773FC" Name="Program2">
                <Component Id="cmpB600E8F18A38B188BDD7974031651D07" Guid="{431DC662-6ABF-46A5-836D-E1A8C746D8EE}">
                    <File Id="filF2D28B96FD9B81FE7092219287F11D94" KeyPath="yes" Source="SourceDir\ars.exe" />
                </Component>
                <Component Id="cmpCF4448101AE8B019ED8AA47B366D7D3B" Guid="{15116702-4DA0-4BF9-9DE9-0E51209ED5CC}">
                    <File Id="filD107196FB1F5CF20E47C2729ADCDEECC" KeyPath="yes" Source="SourceDir\ChartEditor.exe" />
                </Component>
                <Component Id="cmp11D1204BCD43F5D96643E74BA475D197" Guid="{4C3C8190-FE06-47D8-9136-23A729ED4EE4}">
                    <File Id="fil4050E62473958CA9D80A0DB544161E8C" KeyPath="yes" Source="SourceDir\ChartMaker.exe" />
                </Component>
                <Component Id="cmp12190A4622AEE5F89DF0423D8F806C49" Guid="{635D8054-8A44-4F36-86BA-AD1144DCC74D}">
                    <File Id="fil82CF443CC7C418CCF96768A9C6910EFE" KeyPath="yes" Source="SourceDir\Contract.rtf" />
                </Component>
                <Component Id="cmp186DD350B035BC981ADE97168A0A124D" Guid="{9D793FB2-51B9-40CD-90B4-91F8867CB34E}">
                    <File Id="filABD8CED4BE02296D175AE720B5B7D822" KeyPath="yes" Source="SourceDir\copyright.rtf" />
                </Component>
                <Component Id="cmpA19573BD253C4ECF2644250373AF7899" Guid="{6497C71F-FCBE-4772-BBCA-832E0A054BA6}">
                    <File Id="fil4340A7E5496E1D37AA6053B4082ED890" KeyPath="yes" Source="SourceDir\costMod.xml" />
                </Component>
                <Component Id="cmp6971C617371C3AD4B51E47D271303631" Guid="{0AADA42B-FA86-4EFF-978F-F23650F5FB27}">
                    <File Id="fil16AFE51D07148DEE1B18182B14C2D09F" KeyPath="yes" Source="SourceDir\dbConnect.xml" />
                </Component>
                <Component Id="cmp935921A7E17D0E43CD6A6C4C9C4F9746" Guid="{E157590D-C7E3-41D1-91B9-A4A633ACEBAE}">
                    <File Id="fil24C7D4960FDC812EBD18591C471A7B96" KeyPath="yes" Source="SourceDir\default.mdb" />
                </Component>
                <Component Id="cmp6FEA481986C1987F2FC8DB4BE2D64D8D" Guid="{21F53FEB-EF49-4F5D-A3F8-E114980108A6}">
                    <File Id="fil724105FC7FB26D4435D7E7E3A85372BD" KeyPath="yes" Source="SourceDir\DialogImport.exe" />
                </Component>
                <Component Id="cmpB64A977A1F40F2528581D8C7165B1D05" Guid="{A07DFDF2-8D36-48F9-A9B7-48747BBDF1E6}">
                    <File Id="fil756D8F143DC0C5F0A65265F35788BC0A" KeyPath="yes" Source="SourceDir\directivex.xml" />
                </Component>
                <Component Id="cmpBFB4F19C3DCBDCE150232FD4011D461F" Guid="{72BAAA52-F17B-4747-9A64-B1BD9E8F6219}">
                    <File Id="fil173CA2E59C5F5A455FA5E857AA89DF85" KeyPath="yes" Source="SourceDir\hexml_142.dll" />
                </Component>
                <Component Id="cmp8344668E43DEE5A119C3D8C9D0EDE538" Guid="{BC0AD377-1C3F-47D2-8FE0-20948B87A81E}">
                    <File Id="fil3589CE3625A7BBE477A3A5EC51973D34" KeyPath="yes" Source="SourceDir\image001.jpg" />
                </Component>
                <Component Id="cmpEC263D5064EB05536E878C2C51B2FD7D" Guid="{D3ABFED6-8980-4EFD-8EDA-76F708787C54}">
                    <File Id="fil2FA4A52CF1D0BD7FFF5AFAD6AAAE278E" KeyPath="yes" Source="SourceDir\image001xxx.jpg" />
                </Component>
                <Component Id="cmp7BBFFFF3726E7E66F83F6CD26CB160D9" Guid="{08486841-3CD7-4D5B-81B0-D587DB8A26A4}">
                    <File Id="fil99508A342C8C2586974D57B203C8463A" KeyPath="yes" Source="SourceDir\majorTips.xml" />
                </Component>
                <Component Id="cmpD83EB76999202939BF538948E491127E" Guid="{CAB0CAE9-E98F-4C32-89DD-83AB5956F481}">
                    <File Id="fil840020C1A94398877EC426B7F6E546CB" KeyPath="yes" Source="SourceDir\no_cross.jpg" />
                </Component>
                <Component Id="cmpC9543579168AEF4929097EE8E2FC56D3" Guid="{8098ACEC-E68F-43E0-AA15-F82E8A7D2DAA}">
                    <File Id="fil40A1EF62C3D696E6D4397E81D301FEFD" KeyPath="yes" Source="SourceDir\PrintComponent.xml" />
                </Component>
                <Component Id="cmpA172B881EF8666904722C347984E7F92" Guid="{A106A3B2-2148-481F-8953-FA54F0B65BA2}">
                    <File Id="filFCD9801930E347CD4F1AAD06550AEA6E" KeyPath="yes" Source="SourceDir\RA-Gyro-small.jpg" />
                </Component>
                <Component Id="cmpA305C2043755FB3DFB1DBA11129F28BE" Guid="{5AC35127-A905-475C-A2BC-5CFEE60F390D}">
                    <File Id="fil345598355261E6B6EF5CA2AAB85B9847" KeyPath="yes" Source="SourceDir\ra.ico" />
                </Component>
                <Component Id="cmpAC136A17713CC2A5ACFA02D2A090A363" Guid="{4CB86DC2-7529-4933-8BF8-76BE25774376}">
                    <File Id="fil5B90C92AA800BD20C5FCD7090BF0A19F" KeyPath="yes" Source="SourceDir\ReportHeaders.xml" />
                </Component>
                <Component Id="cmpA07312EA02F6B6136030D6D6D5C7C884" Guid="{D8F9FA18-6898-41A4-861A-AF4A617536D3}">
                    <File Id="filAB5C35FBE8E3CD26827A5028778D9B8F" KeyPath="yes" Source="SourceDir\reportSections.xml" />
                </Component>
                <Component Id="cmpC33C0C43BF36FBE5348CF994B346B062" Guid="{743E0BFE-74EA-4A16-AA33-120FD6500208}">
                    <File Id="fil3A0EC3C0419F896412AD8F5F380F438F" KeyPath="yes" Source="SourceDir\RESERVE.chm" />
                </Component>
                <Component Id="cmpE7CEDE703950422C5F001993B543DC8E" Guid="{4C27A6DE-0059-4D44-A121-051AB1AD4BF4}">
                    <File Id="filB1A9BB19BD8AEAE492445546AB2C2BEC" KeyPath="yes" Source="SourceDir\resize_jpg.exe" />
                </Component>
                <Component Id="cmpE5015F887B5177B7505505CE7AF4F213" Guid="{F7E2E6F7-EE6F-4C22-91D7-9874958F4FCC}">
                    <File Id="fil5825BFD32FC51106F13469F2A2D18AD4" KeyPath="yes" Source="SourceDir\rtfParse_142.dll" />
                </Component>
                <Component Id="cmpFE8E317AD991F02EBD1A0B12337203BC" Guid="{0846A553-3F0C-43C0-A923-76B82C8882E9}">
                    <File Id="fil95FA79657D6F2243F933309AAE1E9CD2" KeyPath="yes" Source="SourceDir\rtf_tagset.xml" />
                </Component>
                <Component Id="cmp1C507AE1F3D5909CA9A5669EDA27B7B3" Guid="{38A31289-51E6-4AB5-A3FC-9101F19D91B8}">
                    <File Id="filAEF11744C52232D84EF6E558637F8E8C" KeyPath="yes" Source="SourceDir\sqlite3.dll" />
                </Component>
                <Component Id="cmpE2B89D553A18FADD86251BFB0EFBAF36" Guid="{DA5FEF59-07AA-4163-9953-38F2C918D5EE}">
                    <File Id="filD8717F86AB1B09BAC3ADA5C343908B31" KeyPath="yes" Source="SourceDir\tv.exe" />
                </Component>
                <Component Id="cmp98A2BF069E1A27F98DC2C4E1E455BF19" Guid="{60B700EF-8695-4262-BBCD-72DC65BFD912}">
                    <File Id="filEDCC9DA8BE30EC050136718DAA8DD0D1" KeyPath="yes" Source="SourceDir\zlib.dll" />
                </Component>
                <Directory Id="dir186AF160A97CF236F19BD0EA972C20AD" Name="User">
                    <Component Id="cmpA2D296FF58C58E472F464A5A29386D28" Guid="{C02DE6D6-BAAE-4A78-98CC-F16B2F165F59}">
                        <File Id="fil0AA2461BBBB66EBC60D094F000D36414" KeyPath="yes" Source="SourceDir\User\AltMont.jpg" />
                    </Component>
                    <Component Id="cmp57FF3ABCA28FD9747B5937201F6B2D46" Guid="{8F5797E4-11F1-44C5-A2D2-736FA88B93ED}">
                        <File Id="fil9260554482F69DC0AEC2F15652D2F081" KeyPath="yes" Source="SourceDir\User\catimp.txt" />
                    </Component>
                    <Component Id="cmp1E1621C9A8794E5F562A8667B93B4E93" Guid="{D54FB4F1-5BF7-4579-9C61-983D325B9904}">
                        <File Id="fil2E1CA51E443962A82E6BEFC861C5F696" KeyPath="yes" Source="SourceDir\User\ChartsCatSet.txt" />
                    </Component>
                    <Component Id="cmp2C6288AD8DFD6ECCBEA1A8A6D0A18EBB" Guid="{40D0D0B0-9497-443E-BDFC-38AD8E0408D5}">
                        <File Id="fil382402DFCF6BE653C1971A3F7B226CD4" KeyPath="yes" Source="SourceDir\User\ChartsGroupSet.txt" />
                    </Component>
                    <Component Id="cmp2ECC9FC95F853C95BBED60C4F688C087" Guid="{14F63295-4E10-452F-B4FE-C5FB28F6048F}">
                        <File Id="filD72D01B6B5157B14D8A56ED0686847E5" KeyPath="yes" Source="SourceDir\User\ChartsInfo.xml" />
                    </Component>
                    <Component Id="cmp54248765945A61ED0D655F2E82401420" Guid="{1B466B81-57A8-45C0-A749-503D14089304}">
                        <File Id="fil6B4FB68956C82106AEA90AE7B332FEB8" KeyPath="yes" Source="SourceDir\User\cover-2.jpg" />
                    </Component>
                    <Component Id="cmp938FE32BD4424A2056FBB77B66039B61" Guid="{159446E8-C63D-48AB-8E91-5A430CDA191C}">
                        <File Id="fil29C50AE4AFCF19FFBA134F48909328FB" KeyPath="yes" Source="SourceDir\User\cover.jpg" />
                    </Component>
                    <Component Id="cmp603A8D39CD7DB8130A3A204DC0D17FFD" Guid="{BF6AB210-9990-4572-B6D4-50E81E6430A4}">
                        <File Id="fil789C1B44E98532BC74F33DAD07DE84B5" KeyPath="yes" Source="SourceDir\User\CoverLogo.jpg" />
                    </Component>
                    <Component Id="cmp99D0A98675052B3B7B0BBE5502E2F542" Guid="{72EBAF52-7049-42B1-85CF-A5D223D400B2}">
                        <File Id="fil36E4438785C70275C3C9C0D369A843BE" KeyPath="yes" Source="SourceDir\User\dbUser.xml" />
                    </Component>
                    <Component Id="cmp9D0BB23953A98D40371FEB79A5048DBA" Guid="{A87CFD00-7825-4E0D-892B-B0D771391A0C}">
                        <File Id="fil7F9AB1E9F575470F1B238202BD181AE5" KeyPath="yes" Source="SourceDir\User\default.ars" />
                    </Component>
                    <Component Id="cmp1CEE3B18611DF6AC489E6642A2399E2B" Guid="{74125AF6-08C9-4324-850F-2E9DD35F7EED}">
                        <File Id="filF4E3D0BFC2A40F7E76A1EA448DAAE0A3" KeyPath="yes" Source="SourceDir\User\Default.log" />
                    </Component>
                    <Component Id="cmp3ED94E6A19FEF732E5A5A6EDA880AD2F" Guid="{C2CDD52E-645A-4B19-80B7-A7677768B589}">
                        <File Id="fil4AA47FA5A8A6EBFCDD7F1AB65D4C130C" KeyPath="yes" Source="SourceDir\User\defaultRU1.rtf" />
                    </Component>
                    <Component Id="cmp90C1DC04F7E5E256EBA5B77CA55A4270" Guid="{07CDF22C-90BE-4B4C-8911-137D6610356A}">
                        <File Id="fil656EB4EFCC180BF8706CF0ED5CF221A6" KeyPath="yes" Source="SourceDir\User\defaultRU2.rtf" />
                    </Component>
                    <Component Id="cmp236A1C9864D868BDD0746B851405CF52" Guid="{88916BC7-06AC-4671-A13A-F0352C24DE55}">
                        <File Id="fil4DB2ACC71231DF7C9A10DB2005B52764" KeyPath="yes" Source="SourceDir\User\defaultRU3.rtf" />
                    </Component>
                    <Component Id="cmp08E0BC8DAB578EA272426A7348E10C3F" Guid="{130F5A43-B4D4-491B-9013-1148D30B077A}">
                        <File Id="filC79495965105C6E6C52BCBBCB1F9395E" KeyPath="yes" Source="SourceDir\User\excelCatSet.txt" />
                    </Component>
                    <Component Id="cmp883A34B24E8952CDD4855793C8E7BCAD" Guid="{3EC53B6A-39B0-417B-AE12-6BCF1BAA377D}">
                        <File Id="fil1EF357F53916F824E45E3395C3B7A5E5" KeyPath="yes" Source="SourceDir\User\excelModels.txt" />
                    </Component>
                    <Component Id="cmp3F63A047A2133D49ED8C7CC1591D66CB" Guid="{9545FAF0-8B06-497F-8398-2260F7EAEFC2}">
                        <File Id="fil804355BF2A71E382F55F1527FA532249" KeyPath="yes" Source="SourceDir\User\groupimp.txt" />
                    </Component>
                    <Component Id="cmp5703E9B4B8C01F8B80E5780B2750C9E4" Guid="{E23D0DE6-1359-40D2-A9E4-81B3A532E8A1}">
                        <File Id="fil3DF521639ABDBDF997EC59F830C491E1" KeyPath="yes" Source="SourceDir\User\PrinterInfo.xml" />
                    </Component>
                    <Component Id="cmpC7174E33DB179419B7F85CB1183C43E5" Guid="{6506EF30-E109-477E-88FA-1DD73F138C6A}">
                        <File Id="fil48B6F9EC5AC739BB19CF28C19FFE1668" KeyPath="yes" Source="SourceDir\User\ReportChartPages.xml" />
                    </Component>
                    <Component Id="cmp782939C3F869F4F9F69020278E776FC8" Guid="{4192D5BF-180D-455A-ACF7-EA63CB139360}">
                        <File Id="fil91D9903AB126F1D6479B511A3ED328BB" KeyPath="yes" Source="SourceDir\User\ReportHeaders.xml" />
                    </Component>
                    <Component Id="cmpCF50DB32E1DC93647EEB35A41B57197D" Guid="{E4010E88-D3C3-4CA5-9611-3CBEC3A77875}">
                        <File Id="filF27C5FE8EAEFE4CA00E59B2A30851DDB" KeyPath="yes" Source="SourceDir\User\ReserveAnalystPart1.rtf" />
                    </Component>
                    <Component Id="cmp28FB6CAAD0BB72A478AE0D698CA90AD1" Guid="{C34FBFAB-0E06-46F1-A1CC-F71C25D40F48}">
                        <File Id="fil0E18C00F64ADC631C26CBFBA3826EB47" KeyPath="yes" Source="SourceDir\User\ReserveAnalystPart1Cont.txt" />
                    </Component>
                    <Component Id="cmpA75E78DB3CADD4785D769313A7807B47" Guid="{299A4F4B-F9D5-4C35-AA5B-8EE86E37F465}">
                        <File Id="fil9B23D642533AD94FED51D270AAFAD6C8" KeyPath="yes" Source="SourceDir\User\SampleReportfilelist.xml" />
                    </Component>
                    <Component Id="cmpAD3B5F469BE1090F043CCC3675C601D3" Guid="{9699219A-AFFF-4AAC-925F-C2BB2D693C7B}">
                        <File Id="fil272945ABFA075840460702609DD3C682" KeyPath="yes" Source="SourceDir\User\StockComments.rtf" />
                    </Component>
                    <Component Id="cmpD7BFB71B2B945A2B06326B4381485DCE" Guid="{D9C8C680-615B-454D-8F23-897EE8ED2D4C}">
                        <File Id="fil4CDE1E91E7BC093057BC0B23A1CE812C" KeyPath="yes" Source="SourceDir\User\stockimp.txt" />
                    </Component>
                    <Component Id="cmp5B23513B7B47632D590C6D4D3C372977" Guid="{EA871B1A-4D80-4063-8040-4A7AFA1BB6BC}">
                        <File Id="fil242F2D7775E4D38EA5A37E72BB0C0606" KeyPath="yes" Source="SourceDir\User\UserSettings.xml" />
                    </Component>
                    <Directory Id="dirD92CB0F342B39D41FB253BF7E70FD72D" Name="ReportRepository">
                        <Directory Id="dir0D4DC8298203350CC511E7C88F43B3C7" Name="Main">
                            <Component Id="cmpD0F19A81660617C28ABABE20DC3ED4AE" Guid="{E6A1BE4F-02A0-416D-A3E7-2F35427F1AF9}">
                                <File Id="fil3A63CE03C292328B70A1DF649B8A09E6" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU1.rtf" />
                            </Component>
                            <Component Id="cmp55058D0EB6440A4B516DC1D373B3D964" Guid="{4F35D154-215D-46BF-B043-A2112A98D3C2}">
                                <File Id="filFB57E285B41A1D279C2E5BCB2F0974B6" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU10.rtf" />
                            </Component>
                            <Component Id="cmpD25EF788ACB235AC4E343DD41A041682" Guid="{10AB609B-4976-4DDB-AB0A-0AD5FF388E59}">
                                <File Id="fil1C20DB03F9AF5F67572D812B6D7D68DB" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU11.rtf" />
                            </Component>
                            <Component Id="cmp8605419768A99EEADE96447A02D689A9" Guid="{25748CA4-1D5A-412B-9781-01D509FC24DE}">
                                <File Id="fil54F1804FAF5F73B8969E354A8251D7FF" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU12.rtf" />
                            </Component>
                            <Component Id="cmpF9DE5A9D64CF8A4BB829D1571E4F3CE7" Guid="{37801FEB-90FA-4495-A9DB-CDC1F197FBD4}">
                                <File Id="filD65DB514A318CFF967EE4D6997809A98" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU13.rtf" />
                            </Component>
                            <Component Id="cmpA53194E4285AB83820E43F139CBD4D63" Guid="{5E6E8F19-499E-47F9-ADCB-C7E64862670E}">
                                <File Id="filD4F5AB03216D3D26F768908F4290031E" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU14.rtf" />
                            </Component>
                            <Component Id="cmp3088026F241D6C8464DC156F0195F53B" Guid="{30A2EB33-F754-4122-BCE0-FD00D20E2244}">
                                <File Id="fil428169726580A9B460AA7E3D3E8503EA" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU15.rtf" />
                            </Component>
                            <Component Id="cmpC56CED1C8304110363A65BB556DC6D02" Guid="{DEF12A18-1655-467E-80B5-84E3BE9418DB}">
                                <File Id="fil08A8AFE6ECB3BFE8583808320C579856" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU16.rtf" />
                            </Component>
                            <Component Id="cmp49A71C86739EEF882A4F6B66470B12FC" Guid="{671CFB19-57E2-4AEF-B714-9F40071D6586}">
                                <File Id="filD962AF74D99679680EE0BA5DD4D7D5CD" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU17.rtf" />
                            </Component>
                            <Component Id="cmp9F5016E6319B800C024C940F6F6B67CB" Guid="{BB2640CB-5B8A-4271-840D-2075149D5FA6}">
                                <File Id="fil3159C311E5DFDB27AF6B3E25D1EB439C" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU18.rtf" />
                            </Component>
                            <Component Id="cmp70227CEB630040849FF01BDF03355D2E" Guid="{B441F195-2746-47A7-89DD-FBB12F29BB40}">
                                <File Id="filA1A0A2B0A395980DC49FA6F18F45A8B6" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU19.rtf" />
                            </Component>
                            <Component Id="cmp5924919A38A5A19D7D4AE68BF2CE2D1D" Guid="{A235DBBD-E27C-4DBF-9666-780B520BF842}">
                                <File Id="filB4F17F1C20F63428EA9486E3F77A49ED" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU2.rtf" />
                            </Component>
                            <Component Id="cmpF7376D0C377CF532A5D6E481CA4AE050" Guid="{0B8C2457-2402-424F-82B0-3953E715432A}">
                                <File Id="fil6982E9DCF0DC784F9AE4BEC9D3A7DD77" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU20.rtf" />
                            </Component>
                            <Component Id="cmp012383EBFA1A60D02A5CD69FE04985C1" Guid="{E07C8347-9A93-4B6E-B8A0-D1F9D4CF2FE3}">
                                <File Id="fil472CC035DC12B91F66D7BBA2AED08B18" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU21.rtf" />
                            </Component>
                            <Component Id="cmpA2A6FEA0AE82F5A591DB9CD1B75597D6" Guid="{D8179DDB-7C14-4293-B2FD-33B4D576E5C4}">
                                <File Id="filAA53D996689A684616311561F0CE444E" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU22.rtf" />
                            </Component>
                            <Component Id="cmpF1FF54736FF87E9B9851DBE7552F12FB" Guid="{8B261A45-24E3-41A9-B097-DA3D6C60C8F7}">
                                <File Id="fil37AFB8CD2690498D35D7C2AD5F40E927" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU23.rtf" />
                            </Component>
                            <Component Id="cmp6C7E973B21CD714BFDDEB85A3A0D9CBF" Guid="{789BAA9A-F406-40C7-81EB-04CB94DEB45D}">
                                <File Id="fil55EE160BF1BDD17548140C9619C0604A" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU24.rtf" />
                            </Component>
                            <Component Id="cmp13439EC80318D3A853CF9503932C1C00" Guid="{37F2DA8C-48DE-4733-B2EF-2512D596BA76}">
                                <File Id="fil2DB7C50F55D5A9FA52541A41952D15D7" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU25.rtf" />
                            </Component>
                            <Component Id="cmpB9FD538E2D10BA34FDC0C2E69D568342" Guid="{D4CA590D-9EBC-4FD5-BD7B-F95370D794E4}">
                                <File Id="filCDDF0B1E734860CCB3566EF9A4C4A39B" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU26.rtf" />
                            </Component>
                            <Component Id="cmpAD1309FD3456BD938B8CD35CB5305390" Guid="{A2CAC6CA-28B0-47FE-8100-8C72D796DB41}">
                                <File Id="fil8D2592B4E7633A0F2DB6CC58658D1BC3" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU27.rtf" />
                            </Component>
                            <Component Id="cmp0D3F59D9784A345A2870FB1A36445A38" Guid="{D8DD9BEA-C020-42FC-931B-49DC79056182}">
                                <File Id="fil0A01108E653D0FBE67B279DBB94BF406" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU28.rtf" />
                            </Component>
                            <Component Id="cmpAE8C26FFF2E6FE91ABFD3795BAAB6B4D" Guid="{4D33AF28-7762-4F7A-8D8C-A460FB2EED7F}">
                                <File Id="fil2BC2610C8FEA651530F33C45704B1F5C" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU29.rtf" />
                            </Component>
                            <Component Id="cmp62F09D61C2977F6FA95199DE3D3F1B4F" Guid="{EE2BCE2F-4FFD-41A8-ABAB-22D226CFD6D0}">
                                <File Id="fil1247968A7056B80837ABB1EF8EEE333F" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU3.rtf" />
                            </Component>
                            <Component Id="cmpFC9EE083715CAFF56C5869B49EA53CE2" Guid="{6905DF31-A383-45F4-9A92-8242CAA6462D}">
                                <File Id="fil112907ABA7D2B84B930C394966F667F3" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU30.rtf" />
                            </Component>
                            <Component Id="cmp45499FA0A1A552267C9D15ED10DA0395" Guid="{30E2C128-E45C-4FE7-A471-56DFF9EE31EC}">
                                <File Id="fil3EEFE646E96B96EDF0AD4FE2D04A5F70" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU31.rtf" />
                            </Component>
                            <Component Id="cmpC9091C1E3726AE142A380711A0C007FE" Guid="{C5707F5D-041B-4B7A-8842-E3EAAF331103}">
                                <File Id="filEB324475500ABB4C7215095F9BDDC927" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU32.rtf" />
                            </Component>
                            <Component Id="cmp5FF2B98D71ED71E0B2D3F7B75E0D0065" Guid="{E2DF0F02-DBC5-47A8-8222-AFB0C1972AF7}">
                                <File Id="fil7D90D8F40AF3460A1C4B2B7F95CDD923" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU33.rtf" />
                            </Component>
                            <Component Id="cmpA8A590C21ADB2E311B425BFE3A6900A8" Guid="{1C4AB4C4-5436-42B8-A1C0-6C9E7E76D165}">
                                <File Id="fil208B26142962A53BE20AABEC7EAC86DD" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU34.rtf" />
                            </Component>
                            <Component Id="cmp50136693B1B00A1A4DE9A292CC436A01" Guid="{985D194C-7782-4118-A48A-F0BC0701F176}">
                                <File Id="fil65F967BC9713A924D2683A4116DCDE02" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU35.rtf" />
                            </Component>
                            <Component Id="cmp2D367A605C1E4E639BA6DC49959434E4" Guid="{F96024B4-9185-4F9C-AC38-FBB5BD3FA04E}">
                                <File Id="fil9C44C7163185D9FCACF105798A7D0A9D" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU36.xml" />
                            </Component>
                            <Component Id="cmp6A028D16D6A45B58C46BA594C6F68B5F" Guid="{3F56A17D-BDF9-40A4-8FA1-779D19AD293A}">
                                <File Id="fil12ED6716794BD9689319828A80140056" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU4.rtf" />
                            </Component>
                            <Component Id="cmpDFCBA00A3DD1091C66A15125E7F4823A" Guid="{27538882-7DCE-43B7-B992-234FDC0064E0}">
                                <File Id="fil8187F3519FE05585D45E40D8A1092F37" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU5.rtf" />
                            </Component>
                            <Component Id="cmp1B7F4E00E87565B72CF5DE5E9A9F87CC" Guid="{8FEB1981-A953-443D-B6BC-0FF6B8191392}">
                                <File Id="fil61AB982D762D4756540F6609B8A55FC9" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU6.rtf" />
                            </Component>
                            <Component Id="cmp6D5DDEC24CA212A32966E3F714D91AF0" Guid="{13AB2AD7-BC6E-451A-B1D0-192CE59825D2}">
                                <File Id="filEE2C28779AA1B6DEE4BAF6545C384C87" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU7.rtf" />
                            </Component>
                            <Component Id="cmp0B0A2DE193FFD8A2F180E7E146F97E59" Guid="{D8055E74-57F7-4C3C-89AD-44B3229820D7}">
                                <File Id="fil728643BA2DCF69C1677275FFB1DCFA7E" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU8.rtf" />
                            </Component>
                            <Component Id="cmp74D2521FFCBC0A338B77C39AA7078F98" Guid="{BDF9AFA1-6376-44E9-BFE2-61F34E14A4B8}">
                                <File Id="fil8484BC49DA177FEE86B9024C15F8F24E" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\MainRU9.rtf" />
                            </Component>
                            <Component Id="cmp92431C1511A1593D1B096E38A1AA2557" Guid="{F3B01583-0D6F-4D1E-8B73-811446E2551E}">
                                <File Id="fil57A0EE8FB7EB53884686885012EB9DB0" KeyPath="yes" Source="SourceDir\User\ReportRepository\Main\report.xml" />
                            </Component>
                        </Directory>
                        <Directory Id="dirCAFB90C2D919B466EF089D55BECB93BE" Name="Owner">
                            <Component Id="cmpEE4BEF0170B2DACAA7E9674B4D211400" Guid="{C8127D63-F438-425D-BA78-85665BEDB27B}">
                                <File Id="fil956E848BC8AB7575DC4213111C3D4C4C" KeyPath="yes" Source="SourceDir\User\ReportRepository\Owner\report.xml" />
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="dirF4CAADA86BE6CC50142E10E1E1914233" Name="report_sections">
                        <Component Id="cmpCFB91B2177FEFCEDA1E747C9A05E18E9" Guid="{9D0FA2E8-4CB1-432E-B922-D788217505E1}">
                            <File Id="filAE53AEB7E875826FE3FA74E6F97EEFD5" KeyPath="yes" Source="SourceDir\User\report_sections\AnnualExpendRAChart.rtf" />
                        </Component>
                        <Component Id="cmp62216EB472B400FD4C031AAA36B8C312" Guid="{7B569163-31F0-49A0-89A5-86512B9B72A8}">
                            <File Id="fil885EC4E707686B82141BBCB3B632193F" KeyPath="yes" Source="SourceDir\User\report_sections\AssessCompRAChart.rtf" />
                        </Component>
                        <Component Id="cmpAA271072CABC553AC4930AB58D9FC1D8" Guid="{69B3D33E-EB9B-4C5A-B1A6-EE7B460C4382}">
                            <File Id="fil6EECCCFB625FD3AA8F76E2F741AC8BA4" KeyPath="yes" Source="SourceDir\User\report_sections\blankRUpage.rtf" />
                        </Component>
                        <Component Id="cmp536ED436520DBD92325651C691B32C22" Guid="{521737FC-5B92-4429-B065-E50F4687394D}">
                            <File Id="fil66975294953E0488FBC87F2AC43A56AC" KeyPath="yes" Source="SourceDir\User\report_sections\CAFM-Chart.rtf" />
                        </Component>
                        <Component Id="cmpF809BD8143507834FD0424BB4C3638F2" Guid="{B1CD6E75-23B2-4F2A-8C1A-3019843145C1}">
                            <File Id="fil72F36C9FACB6E63460F2C14221626DD2" KeyPath="yes" Source="SourceDir\User\report_sections\CatPieRAChart.rtf" />
                        </Component>
                        <Component Id="cmpF1F2A9F1A88357337F0EC7707A46C894" Guid="{4A3EA854-A4F4-45AB-934D-81D54D5760D9}">
                            <File Id="fil8CA2AE381333916604FB7D3938A30C53" KeyPath="yes" Source="SourceDir\User\report_sections\CAvFF_RAChart.rtf" />
                        </Component>
                        <Component Id="cmp2CCC5B60402DEAF104B5A461C9ECC8FB" Guid="{69E84648-68F2-488A-A040-07C24F492D3D}">
                            <File Id="fil445E7106C78AAEA2DE98BB2A4B60CEC9" KeyPath="yes" Source="SourceDir\User\report_sections\CA_Disclosure.rtf" />
                        </Component>
                        <Component Id="cmp0D22263D67DB772B1AECCD984C6F2131" Guid="{6B779D83-4A3F-422B-9094-090418F8322D}">
                            <File Id="fil9B9FFEF236EF6D3FC811C283571B990B" KeyPath="yes" Source="SourceDir\User\report_sections\CFMChart.rtf" />
                        </Component>
                        <Component Id="cmpBB4C60CC556834D4795380D93788EC05" Guid="{44FB5E3C-A553-4796-A0F2-2FD56BFCC8A0}">
                            <File Id="filC847EAB001ED4C4CC55594FE1CAFAFAA" KeyPath="yes" Source="SourceDir\User\report_sections\CMvFF_RAChart.rtf" />
                        </Component>
                        <Component Id="cmpA9B2E093A6B6E286C460848C06C6EF6B" Guid="{F8E254A9-EEEF-4D32-8EE9-17C1B3333BEE}">
                            <File Id="fil95668A1C54B1EB4BE740C06676B6D21E" KeyPath="yes" Source="SourceDir\User\report_sections\cover_page.xml" />
                        </Component>
                        <Component Id="cmp7210146C4DA669CA8AB82184B30417B6" Guid="{484585C1-2431-4793-869E-FFCB10DC36B3}">
                            <File Id="fil10F0BF6AB578482A151948407D73FFF4" KeyPath="yes" Source="SourceDir\User\report_sections\EndBalanceRAChart.rtf" />
                        </Component>
                        <Component Id="cmp68D4A1B451205624BC83FA2CCB6F4887" Guid="{5656EE93-620C-4FAF-9F5B-0682E9F491DC}">
                            <File Id="fil4B009FB526F3CEDBE1B7A06B385C3B35" KeyPath="yes" Source="SourceDir\User\report_sections\FMAssessmentComparisonChart.rtf" />
                        </Component>
                        <Component Id="cmp0136F4581AFA3C48C60F3B0E72F28126" Guid="{5946BF64-A9E8-4DDD-A5C6-FBA9BC1C1DC6}">
                            <File Id="filE167B465E35D67E65522FFFA294C47F7" KeyPath="yes" Source="SourceDir\User\report_sections\FMEndBalanceCompareChart.rtf" />
                        </Component>
                        <Component Id="cmpFC57B1E772796085EA7E72C0BD83B840" Guid="{CB8D92E4-0410-4945-9CC4-DF184618C6EC}">
                            <File Id="fil0452A330679D1937C09B127FD32A7764" KeyPath="yes" Source="SourceDir\User\report_sections\PercentCompRAChart.rtf" />
                        </Component>
                        <Component Id="cmp968749BBF89CCD20430AF581A04BF899" Guid="{26CC8FCA-69D1-4F19-9870-4557465ECE2A}">
                            <File Id="fil7ACC9BD4F91E49E5516A464E0FD6AD8A" KeyPath="yes" Source="SourceDir\User\report_sections\PercentFundedChart.rtf" />
                        </Component>
                        <Component Id="cmp5563A2D03A46A9CACCA705BDEC8856D6" Guid="{4151FA1D-1404-45FD-B238-F24E63A57C38}">
                            <File Id="fil6628740007B8FBDF5B042419F197A2BE" KeyPath="yes" Source="SourceDir\User\report_sections\StockCommentsBacki.rtf" />
                        </Component>
                        <Component Id="cmp50D7BA690D92765B60804DFA6077E567" Guid="{5C1E2E48-4E8A-407A-A1FB-A67DEA4556EA}">
                            <File Id="fil6CC9AC4144AC414A79FF81E7CBE93BF1" KeyPath="yes" Source="SourceDir\User\report_sections\TFMChart.rtf" />
                        </Component>
                        <Component Id="cmp7E46D56893897021ECE0AB8EDF746863" Guid="{DF0E2C4B-48AA-423D-A423-C78BE96A445E}">
                            <File Id="filBB93957E9ED90DD5E2DBE44363CAE0D5" KeyPath="yes" Source="SourceDir\User\report_sections\TMvFF_RAChart.rtf" />
                        </Component>
                    </Directory>
                    <Directory Id="dirBEA2236A41F4382BA0ACDA9C8E588944" Name="SampleReport">
                        <Component Id="cmpA222D840BCD997A6A13E49D051B88B59" Guid="{5CE9E92E-B40C-4F15-B9E5-490C82089888}">
                            <File Id="fil25B91EB4C7B1EDF62FED22A615A28A54" KeyPath="yes" Source="SourceDir\User\SampleReport\Alt_Cover.rtf" />
                        </Component>
                        <Component Id="cmp95C2FE195D78795B6C2AF62019EBDC26" Guid="{C7DE3BA1-0F3D-4CE1-B900-6F44DFEF523B}">
                            <File Id="fil5E2F01BA15947442C5667A26A56DF76F" KeyPath="yes" Source="SourceDir\User\SampleReport\chart.log" />
                        </Component>
                        <Component Id="cmp3E97E638EAD885D1938BCDB7235991AA" Guid="{4017DB47-2432-4D7E-8102-D23646F975BD}">
                            <File Id="fil122D13525497393CF2702AB7FE904894" KeyPath="yes" Source="SourceDir\User\SampleReport\Features_1.rtf" />
                        </Component>
                        <Component Id="cmp320EA5519119DE67F2E8DE26F3CFA0C2" Guid="{F05AD44F-01F6-4C0F-B7B9-AEF7CED41A79}">
                            <File Id="fil217CD67D161700B77C96B18C642D4AF0" KeyPath="yes" Source="SourceDir\User\SampleReport\Features_2.rtf" />
                        </Component>
                        <Component Id="cmpC9F44DD29106A60229037DD8EDB0D02D" Guid="{806F5970-30C8-451F-87E5-E08598A795D1}">
                            <File Id="fil9F0057A0EB2846797CF428B2E484289A" KeyPath="yes" Source="SourceDir\User\SampleReport\Features_3.rtf" />
                        </Component>
                        <Component Id="cmpDC98C6529BC4FA32C7F630ED510B8FA0" Guid="{1DBDD93C-04CC-4D5A-9895-2B6ACD2E3C2D}">
                            <File Id="fil2E8724EB60816E5A861F117F36EF84B8" KeyPath="yes" Source="SourceDir\User\SampleReport\ParsedRTF0" />
                        </Component>
                        <Component Id="cmp9C741D583804C231FFA5FC819D56FE88" Guid="{8E8CA2A4-2CE9-479B-8633-FA560A622463}">
                            <File Id="fil25BABBF11235A984A4421BE238625BFF" KeyPath="yes" Source="SourceDir\User\SampleReport\Sample.ars" />
                        </Component>
                        <Component Id="cmpF3DAD30F11DB21914FB3D5892B3CDCBA" Guid="{52171F23-8DC7-481D-B16C-711D74A74960}">
                            <File Id="fil865CEE548015A0B46608B56D35099339" KeyPath="yes" Source="SourceDir\User\SampleReport\Sample.log" />
                        </Component>
                        <Component Id="cmpC6B7014163275388D0891DA33CE27333" Guid="{EFC7F15D-EDCF-41DC-9166-E84310BB7970}">
                            <File Id="fil222252566F263A87F6BC59DF494388E9" KeyPath="yes" Source="SourceDir\User\SampleReport\Sample.mdb" />
                        </Component>
                        <Component Id="cmp13B4C9800578B10335A5ACD09243B41D" Guid="{1B4D8B6C-C133-457B-AB7E-290FBD54FA10}">
                            <File Id="fil32B8E7495491D029C5CA227F65CD7DD1" KeyPath="yes" Source="SourceDir\User\SampleReport\SampleNU1.rtf" />
                        </Component>
                        <Component Id="cmpA92AFFC155A4063C316890004C49FC16" Guid="{C5AF7117-4D82-451E-B805-3D2851B54ED5}">
                            <File Id="fil0A5AFF0230035BE5B1494494689925BF" KeyPath="yes" Source="SourceDir\User\SampleReport\SampleNU2.rtf" />
                        </Component>
                        <Component Id="cmp896E1205DD0392267B77462EAE0B1CF6" Guid="{3AD9B3AE-DF4A-4933-85BE-4E8B49C31227}">
                            <File Id="filD6BC8AE860573CD9D6AAE733D169FF5E" KeyPath="yes" Source="SourceDir\User\SampleReport\SampleNU3.rtf" />
                        </Component>
                        <Component Id="cmp53A8B94703841685C12393913B469385" Guid="{55BEB6C7-C4EB-41F1-8639-D056098745DC}">
                            <File Id="fil4EEA34BE3B0D118405717DF2B261A108" KeyPath="yes" Source="SourceDir\User\SampleReport\SampleNU5.xml" />
                        </Component>
                        <Component Id="cmp4C451447937CC033B5109A40ACC77A41" Guid="{B24EC59F-687E-4032-8BED-719BC2EBB275}">
                            <File Id="filF60106C4E3831B6270A31DA946E1AF76" KeyPath="yes" Source="SourceDir\User\SampleReport\SampleUP10.rtf" />
                        </Component>
                        <Component Id="cmp3E4F2E39AF33F0FE025CD5947A6BEA84" Guid="{3F768B34-4017-40B1-852F-033E32EC3E71}">
                            <File Id="fil14A91F56B78D7FB6ED2D0C4251A83500" KeyPath="yes" Source="SourceDir\User\SampleReport\SampleUP11.rtf" />
                        </Component>
                        <Component Id="cmp5B4DCBB53E8814D15E946B9D23A5E316" Guid="{511B2A6E-98EC-4F30-972B-7EA3E368D16F}">
                            <File Id="filCCEADE49CB9BB4A857535D22592F805D" KeyPath="yes" Source="SourceDir\User\SampleReport\SampleUP17.rtf" />
                        </Component>
                        <Component Id="cmp2233407C101386948B5EB15C52897B31" Guid="{90A4AFA0-E045-4502-8626-B8573D41E65F}">
                            <File Id="fil0BC2149329CA94F1282ED01A8F1E8A1F" KeyPath="yes" Source="SourceDir\User\SampleReport\SampleUP18.rtf" />
                        </Component>
                        <Component Id="cmp79C03F134903B6972A520620D2CBFD0A" Guid="{F9818538-6556-407C-8166-BF161ADD6045}">
                            <File Id="filF4966E5A0789E4A9717F50BF0EE4D9DF" KeyPath="yes" Source="SourceDir\User\SampleReport\SampleUP19.rtf" />
                        </Component>
                        <Component Id="cmp0053E55CA618D8227F2EA0EB2BA96790" Guid="{FB8D2042-FAF3-49B4-96E6-060FE579CBF0}">
                            <File Id="fil0D9657A72A1AC7BC1C972A72E8EC896E" KeyPath="yes" Source="SourceDir\User\SampleReport\SampleUP6.rtf" />
                        </Component>
                        <Component Id="cmp72F88B9FF5EA8CA5BCA49787EAC6EA12" Guid="{C6313A8C-3D5A-43F1-A3D8-14C5D3499A2A}">
                            <File Id="fil3FC20EFB573DE54A04F7DE935C6C7330" KeyPath="yes" Source="SourceDir\User\SampleReport\SampleUP8.rtf" />
                        </Component>
                        <Component Id="cmp489A5F35EBF781BA72295E56D4AA4E48" Guid="{F6A6C709-5680-48FF-8B7F-4F173196683D}">
                            <File Id="filF0C05DF9CFE41B908E15695595F491A8" KeyPath="yes" Source="SourceDir\User\SampleReport\SampleUP9.rtf" />
                        </Component>
                        <Component Id="cmpBC26DC23B66261651463D65637EDB687" Guid="{79C041AA-75F9-4810-BBCD-A54BAADA18AC}">
                            <File Id="fil4F3988DBDD91CFBDC82E1B5AAE365B4A" KeyPath="yes" Source="SourceDir\User\SampleReport\TagFeatureExample.rtf" />
                        </Component>
                        <Directory Id="dir52EADCE93F39119F9DCD4916D52D7AC6" Name="Photos">
                            <Component Id="cmp8B536BD787007C3C0B883E73DB5B1864" Guid="{C68FD2D1-1AB1-4EF2-9C6B-375BA92E70BB}">
                                <File Id="filC14E522F3E0A907B20B70C553388AF52" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\L0025.jpg" />
                            </Component>
                            <Component Id="cmpE3471DF61984DAD76F60F655043AD756" Guid="{A5C52ADF-F44F-4B1A-B866-E31B2983E599}">
                                <File Id="fil77FF1CAB394631D6A9DA4D7849D5975E" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\L099.jpg" />
                            </Component>
                            <Component Id="cmpB53E22A8F9E45BDE82D786E7DD81C65B" Guid="{24E75370-67F3-4AA1-93F1-C902BB8267D4}">
                                <File Id="filCA6276135C18FBB97D430E917CE406ED" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\P1080037.jpg" />
                            </Component>
                            <Component Id="cmp522FB230F3B74542773E8AC20A3701C1" Guid="{FDFD43F7-2EC0-45DA-ADC1-47BD1945C56D}">
                                <File Id="filB9268AFA39CE57603A8B46D88FAC7E9D" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\P1080062.jpg" />
                            </Component>
                            <Component Id="cmpA60C30D98C7964F791C52532DCDD9C3B" Guid="{A58357AA-3D39-4C52-90E8-D11FED751756}">
                                <File Id="fil6038BCD2B5297748E48EE3784E87D126" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\P1080065.jpg" />
                            </Component>
                            <Component Id="cmpF7BC1AA2BBA484AAA00C6635267A9839" Guid="{AA67A19A-E3B5-4F11-AD6D-0C4784823447}">
                                <File Id="fil875E4C7EC4C9017B2F0E831317ECC8FE" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\P1150199.jpg" />
                            </Component>
                            <Component Id="cmp5B2FA74E365D824F26809460F506B01A" Guid="{AA436620-BE12-4349-940F-60575181196F}">
                                <File Id="fil10214650CFE40E4792C559CC6D9C9B96" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\P1160062.jpg" />
                            </Component>
                            <Component Id="cmp0A93F41E7FCCD8C20E81EE7F56EDBE1A" Guid="{626128ED-8BCB-4C8C-BD28-76D6E3EA62C0}">
                                <File Id="filE8F78C3C12ADE3D7B40F4AEA25021789" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\P1160242.jpg" />
                            </Component>
                            <Component Id="cmpE45E22D53C2A87F46083A9B24585A9CA" Guid="{906FB1F0-7492-4A25-920C-BE0517BA6266}">
                                <File Id="fil1E34FD11CD7EFB426EF78BDD709BAD5E" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\P1170143.jpg" />
                            </Component>
                            <Component Id="cmpCD4373AB977374346D2324E2243440FB" Guid="{478C7C9F-8864-43FF-8496-532024A2B552}">
                                <File Id="fil5A2E34893400F52FEA565360886CBE3D" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\P3130097.jpg" />
                            </Component>
                            <Component Id="cmp1A60EDA412B372580935906C1509C813" Guid="{86F31459-EEB3-435F-A6C7-E90F59F5B7C0}">
                                <File Id="filC8421B76282671D464E96B429BD4E236" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\P4240161.jpg" />
                            </Component>
                            <Component Id="cmpD0FA6D766908576F18AEB188ABA96383" Guid="{D70AD9CF-1930-4326-B3D6-02BBCB39D045}">
                                <File Id="fil110E660D80AA2234069B8A4CBFB875D1" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\P8230051.jpg" />
                            </Component>
                            <Component Id="cmp6EBAB4D2B019BDE456B5A4F7DE465AF4" Guid="{C530261C-B83E-4497-8F06-93D56E113590}">
                                <File Id="fil852A96A7B849806B437CCB7F59CF924C" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\Pa010063.jpg" />
                            </Component>
                            <Component Id="cmpA31CB17D23E0A27F3633B99D594BBA69" Guid="{F339C072-9CD4-418D-972C-D60D052A6151}">
                                <File Id="fil738F4CFEFC91C4A1DB6C31B84F8CFD53" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\Pa010071.jpg" />
                            </Component>
                            <Component Id="cmp71AFCD5FBAB84FE324CAB6EEAB926966" Guid="{C2741902-7822-4E01-8AE3-4EFE3ACD4466}">
                                <File Id="fil759D6E7D7BAE60A2DADB8A249A20353C" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\Pa110034.jpg" />
                            </Component>
                            <Component Id="cmpE41DCEE6B85D736817A294A394756F4F" Guid="{29C342D0-9788-42A1-BFFC-EBC9314C2060}">
                                <File Id="filDD96E02C3F53FFF284F132F65502033C" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\Pa120051.jpg" />
                            </Component>
                            <Component Id="cmpD16EF27D9FA718D7B3E2C7C2126B708A" Guid="{F0567148-F082-4067-BE0D-6AAB7E0CE99A}">
                                <File Id="fil3D327306D96BFE4CB115A34593A66A2F" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\Pa120077.jpg" />
                            </Component>
                            <Component Id="cmp5B54D86E1DDB6DAD9BDD4444DE293AC2" Guid="{9EB3A6F8-F4F4-478E-894A-330BE669BDA2}">
                                <File Id="fil86C242276867108591073FCBE230B918" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\Pb120037.jpg" />
                            </Component>
                            <Component Id="cmp03C65A69CEF6D263D132CED96DDFF399" Guid="{52C35C60-ACFC-4BF7-8B1E-6E451D493384}">
                                <File Id="fil8648BA92F9CF47A7221C724CEEBAFB29" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\Pb130113.jpg" />
                            </Component>
                            <Component Id="cmp632CB695705C556B56F0E3AE5FCBC41F" Guid="{43FE89EE-E494-48B0-B5EC-C49248129C85}">
                                <File Id="fil8B46C1BBAC2B4E426E85CD99824D1571" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\Pb200027.jpg" />
                            </Component>
                            <Component Id="cmpDFBC14F48ECAC60FDC1EBB85AA4B1817" Guid="{93CF7B53-F19F-49C1-845B-AA98E631F76F}">
                                <File Id="filFF53491D979CEF53391F6D62D3F77305" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\Pb200052.jpg" />
                            </Component>
                            <Component Id="cmpCE9038C8DBED9CAD0F56A525A65C5D92" Guid="{0C98BE35-D2A5-44CD-82B2-A32F62BE969E}">
                                <File Id="fil3DA3A8B5D1CE7F90438573F92987F6E1" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\Pb220187.jpg" />
                            </Component>
                            <Component Id="cmp367CB06FC8993324ADB99EA8A373328E" Guid="{FFBFC86B-43D5-4538-A469-338F8FA87A95}">
                                <File Id="fil50C4045EC50AE14212AAD74C7634D3EB" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\Pb290028.jpg" />
                            </Component>
                            <Component Id="cmpF8C16735BDA79359195928F82868C973" Guid="{FB9014C3-B84C-4BB4-AC09-8E059376603B}">
                                <File Id="fil354F92D3594A0FB6D5467A3E6B446E0B" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\Pb290029.jpg" />
                            </Component>
                            <Component Id="cmpAEDFCBD32DFA4C9D6C0A6AB459B0CD27" Guid="{22706A0A-F957-44E1-99AC-4AD3120B6E39}">
                                <File Id="fil03E6DA96032541A24CADAC44A44F41F7" KeyPath="yes" Source="SourceDir\User\SampleReport\Photos\Pb290051.jpg" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>