<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <RemotePayload CertificatePublicKey="52868DFCA6E3AF2632389E6C1EE7D0468D3797D0" CertificateThumbprint="3BDA323E552DB1FDE5F4FBEE75D6D5B2B187EEDC" Description="Microsoft Visual C++ 2015 Redistributable (x86) - 14.0.23026" Hash="BFB74E498C44D3A103CA3AA2831763FB417134D1" ProductName="Microsoft Visual C++ 2015 Redistributable (x86) - 14.0.23026" Size="13767776" Version="14.0.23026.0" />
    </Fragment>
</Wix>